rosa create cluster --cluster-name {{ cluster_name }} \
  --sts \
  --enable-dns-hostnames \
  --role-arn {{ installer_role_arn }} \
  --support-role-arn {{ support_role_arn }} \
  --controlplane-iam-role {{ controlplane_iam_role }} \
  --worker-iam-role {{ worker_iam_role }} \
  --operator-roles-prefix {{ operator_roles_prefix }} \
  --multi-az \
  --region {{ aws_region }} \
  --version {{ version }} \
  --replicas {{ replicas }} \
  --compute-machine-type {{ compute_machine_type }} \
  --machine-cidr {{ machine_cidr }} \
  --service-cidr {{ service_cidr }} \
  --pod-cidr {{ pod_cidr }} \
  --host-prefix {{ host_prefix }} \
  --subnet-ids {{ combined_subnet_ids }}

